Django==2.2.7

PyJWT==1.7.1

coreapi==2.3.3

coreschema==0.0.4

django-cors-headers==3.5.0

django-filter==2.3.0

django-multiselectfield==0.1.12

djangorestframework==3.11.1

djangorestframework-jwt==1.11.0

mysqlclient==1.4.6

mysqlclient-deps==0.0.2

PyYAML==5.3.1

httprunner==1.5.8

